* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(235, 21%, 11%);
}

.banner-con {
  width: 100%;
  height: 60vh;
  /* border: 1px solid wheat; */
}

.banner {
  width: 100%;
  height: 100%;
  background: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  /* border: 1px solid wheat; */
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
}

.content h1 {
  letter-spacing: 2.8px;
  color: antiquewhite;
}

.content img {
  height: 35px;
}

.todo {
  width: 600px;
  max-height: 500px;
}

form {
  width: 100%;
  height: 80px;
}

form input {
  width: 100%;
  padding: 15px 30px;
  background: hsl(235, 24%, 19%);
  border-radius: 10px;
  font-size: 16px;
  color: white;
  letter-spacing: 1.1px;
  outline: none;
  border: transparent;
  margin-top: 1.8rem;
}

input::placeholder {
  color: beige;
  opacity: 0.4;
  letter-spacing: 2px;
  font-size: 16px;
}

.list {
  width: 100%;
  max-height: 330px;
  margin-top: 2rem;
}

.todo-con {
  width: 100%;
  background-color: hsl(235, 24%, 19%);
  border-radius: 7px;
}

.todo-li {
  display: flex;
  background: hsl(235, 24%, 19%);
  padding: 1rem 0.9rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-style: italic;
  font-size: 17.5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.todo-li p {
  width: 90%;
  color: beige;
}

.todo-li .check {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(233, 14%, 35%);
  display: grid;
  place-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 8px;
}

.tick-active {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.tick-active img {
  transform: scale(1) !important;
}

.todo-li .check img {
  transform: scale(0);
  transition: all 0.4s ease;
}

.close-edit {
  display: flex;
  justify-content: center;
  align-self: center;
}

.edit-btn {
  color: hsl(0, 11%, 52%) !important;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid hsl(220, 98%, 61%);
  border-radius: 5px;
  margin-right: 15px;
}

.todo .close {
  display: flex;
  justify-content: center;
  background: transparent;
  padding: 0 10px;
  border: 1px solid hsl(220, 98%, 61%);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.4s ease;
  cursor: pointer;
}

.todo-li:hover .close {
  opacity: 1;
}

.break {
  width: 100%;
  height: 1px;
  background: rgb(156, 156, 142);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.infor {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.infor {
  padding: 0 13px;
}

.infor p:hover {
  color: hsl(220, 98%, 61%);
}

.choice {
  width: 50%;
  /* border: 1px solid wheat; */
  display: flex;
}

.choice p {
  padding: 0 13px;
}

.clear {
  margin-right: 20px;
}

.drag {
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: hsl(234, 11%, 52%);
}

.completed {
  text-decoration: line-through;
  color: yellow;
  opacity: 0.6;
}
